* {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
.new > div > div {
  background-color: white;
  background-size: auto 85%;
  background-position: center center;
  width: 45vh;
  height: 85vh;
  will-change: transform;
  border-radius: 50px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
  overflow: hidden;
}
@media only screen and (max-width: 800px) {
  .new > div > div {
    width: 40vh;
    height: 75vh;
  }
}
